/* Declare you BEM components here */

/* Blocks for basic layouting */

@import url('../blocks/header/header.css');
@import url('../blocks/section/section.css');
@import url('../blocks/container/container.css');
@import url('../blocks/section/__title/section__title.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__link/footer__link.css');

/* Basic styling blocks */
@import url('../blocks/link/link.css');
@import url('../blocks/paragraph/paragraph.css');

/* Button block */

@import url('../blocks/button/button.css');
@import url('../blocks/button/_round/button_round.css');
@import url('../blocks/button/_theme/_red-ochre/button_theme_red-ochre.css');

/* Write your css here */

body {
  font-family: 'Helvetica', sans-serif;

  /* next lines for sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
