.section__title {
  font-weight: 400;
  padding: 0 0 20px;
  margin: 0;
}

/* Large desktops and laptops
@media (min-width: 1200px) {

} */

/* Landscape tablets and medium desktops
@media (min-width: 992px) and (max-width: 1199px) {

} */

/* Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {

} */

/* Landscape phones and portrait tablets
@media (max-width: 767px) {

}

@media (max-width: 370px) {
  .section__title {

  }
} */
